
.chat {
  display: flex;
  color:#363b74;
  text-decoration: none;
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  padding-left: 20px;
  padding-right: 25px;
  position: relative;
  text-decoration: none;
  user-select: none;
  outline: none;
  background-color: #e1d7e7;
  background-image: linear-gradient(45deg, rgba(157,107,157,.0) 30%, rgba(157,107,157,.5), rgba(157,107,157,.0) 70%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(200,100,200,.9) 0 2px 2px;
}
.chat a:hover {
  opacity: 1;
  transition: .4s linear;
  background-position: -200% 0, 0 0;
}

a{
  text-decoration: none;
}

.chat img {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  margin: 6px;
  border: 3px #b39cc4 solid;
}

.names {
  display: flex;
  margin: auto;
  text-decoration: none;
}

.chat:active {
  color: whitesmoke;
  transition: .2s linear;
}


.active div{
  background: #48275F;
  color: white;
}

@media screen and (max-width: 760px) {
  .chat img{
    width: 25px;
    height: 25px;
  }
  .chat{
    margin-right: 0px;
  }
}