@font-face{
  font-family: 'MyFont';
  src: url('../../Fonts/AlexBrush.ttf');
  font-weight: normal;
  font-style: normal;
}


.content {
  border: 3px #b39cc4 solid;
  margin-left: 5%;
  margin-right: 6%;
  margin-bottom: 100px;
  border-radius: 7px;
  padding-bottom: 20px;
}

.content img {
  border: 3px #b39cc4 solid;
  margin-left: 9%;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 7px;
  width: 83.7%;
  height: 50%;
  z-index: 1;

}

.changeAva {
  border-radius: 0px 0px 7px 7px;
  position: relative;
  margin-top: -33px;
  margin-left: 9.5%;
  margin-bottom: 20px;
  background: white;
  width: 83.7%;
  height: 26px;
  z-index: 2;
  opacity: 0.5;
}

.changeAva:hover{
  opacity: 0.9;
  transition: .4s 
}

.changeAva input{
  border-radius:  0px 0px 0px 7px;
  width: 40%;
  background-color: #b39cc4;
  font-size: 16px;
  color: white;
  position: relative;
  text-decoration: none;

}
.changeAva button:active {
  top: 1px;
  box-shadow: none;
}

.changeAva button:hover {
  opacity: 1;
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.infoText {
  flex-wrap: wrap;
  display: flex;
  color: #363b74;
  margin-left: 8%
}

.secondColumn{
  width: 100%;
}

.secondColumn button{
  width: 90%;
  font-size: 18px;
  margin-right: 5%;
}

.firstColumn{
  font-size: 20px;
  margin-bottom: 25px;
  color:rgb(106, 67, 143)
}

.editAndSaveButton button {
  margin-left: 2%;
  opacity: 0.4;
  background-color: #b39cc4;
  font-size: 16px;
  color: #363b74;
  position: relative;
  text-decoration: none;
  padding: .0em 9em;
  border-radius: 10px;
  border-color: #b39cc4;
  outline: none;
  background-image: linear-gradient(45deg, rgba(157,107,157,.0) 10%, rgba(157,107,157,.5), rgba(157,107,157,.0) 90%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

.editAndSaveButton button:active {
  opacity: 1;
  top: 1px;
  box-shadow: none;
}

.editAndSaveButton button:hover {
  opacity: 1;
  transition: .4s linear;
  background-position: -200% 0, 0 0;
}

.status {
  color: #6f3b7d;
  text-align: center;
  font-size: 50px;
  margin: 20px;
  font-family: MyFont;
}
.status :hover{
  background-color: #b39cc4;
  font-size: 50px;
  color: #363b74;
  position: relative;
  text-decoration: none;
  border-radius: 10px;
  border-color: #b39cc4;
  outline: none;
  background-image: linear-gradient(45deg, rgba(157,107,157,.0) 10%, rgba(157,107,157,.5), rgba(157,107,157,.0) 90%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;

}
.statusOff input{
  width: 75%;
  font-size: 50px;
  margin-left: 13%;
  margin-top: 20px;
  font-family: MyFont;
  margin-bottom: 25px;
}

.newPost{
  opacity: 0.6;
  width: 80%;
  height: 150px;
  border: 3px #b39cc4 solid;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 7px;
  font-size: 20px;
}

.posts img{
  margin-left: 100%;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-right: 50px;
}

.posts {
  position: relative;
  opacity: 0.7;
  display: flex;
  background: #e1d7e7;
  border: 3px #b39cc4 solid;
  border-radius: 7px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.picture{
  margin-left: 0px;
  margin-left: -90px;
  margin-right: -40px;
  margin-top: -20px;
  margin-bottom: 4px;
}

.postText{
  margin-top: 10px;
  margin-left: 100px;
  font-size: 20px;
  margin-bottom: 43px;
  width: 80%
}

.likesNo{
  width: 40px;
  display: flex;
  border: 2px #b39cc4 solid;
  border-radius: 7px;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  margin-bottom: 2px;
  position: absolute;
  right: 0px;
  margin-right: 3px;
  font-size: 20px;
  color: #363b74;
}

.likesNo:hover, .likesYes{
  border: 2px white solid;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8);
  transition: .5s;
  background: #48275F;
  color: white;
  text-align: end;
  width: 40px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  margin-bottom: 2px;
  position: absolute;
  right: 0px;
  margin-right: 3px;
}

.likesNo img, .likesYes img{
  border: 0px;
  width: 25px;
  height: 25px;
  margin: 0px;
  border-radius: 0px;
}

.infoForEmployer{
  background-color: rgb(207, 204, 245);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3vh;
  padding-bottom: 17px;
  padding-top: 5px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 7px;
  color: rgb(19, 18, 41);
  font-style: italic;
}

h6{
  text-align: right;
  color: royalblue;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 6px;
}

@media screen and (max-width: 720px) {

  .posts {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  }