.app-wrapper{
  width: 100%;
  display: grid;
  background: #f0ebf3;
  grid-template-areas: 
        "h h"
        "n c"; 
  grid-template-rows: 65px 1fr;
  grid-template-columns: 1fr 10fr;
  grid-gap: 30px;
}

.content {
  grid-area: c;
  background-color:#f0ebf3;
  margin-right: 30px;
  min-height: 86.9vh;
}

.content img {
  height: 20vh;
  width: 40vh;
}

@media screen and (max-width: 1000px) {
.app-wrapper {
  grid-template-areas: 
        "h"
        "n"
        "c"; 
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}

.content {
  margin-right: 10px;
  margin-left: 10px;
}
}