body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PFloatingBar__StyledPlaylist-sc-1fo68lb-0{
  color: red;
}


.Playlist__Component-sc-gcmo55-0 {
  color: red;
}



.fYvzif {
  color: red;
}


.NBnUR{
  color: red;
}