.PicturesAlbum {
  flex-wrap: wrap;
  display: flex;
  border: 3px #b39cc4 solid;
  border-radius: 7px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  color: #363b74;
  font-size: 20px;
  
}

.picture{ 
  border: 3px #b39cc4 solid;
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.inputAndButton {
  display: flex;
}

.inputAndButton input{
  width: 110vh;
  border: 3px #b39cc4 solid;
  border-radius: 7px 0px 0px 7px;
  font-size: 20px;
}

.inputAndButton button{
  opacity: 1;
  margin-left: -6px;
  width: 200px;
  height: 31px;
  border: 3px #b39cc4 solid;
  border-radius: 0px 7px 7px 0px;
  font-size: 20px;
  
}

.bigPicture img{
  width: 85%;
  height: 85%;
  position: fixed;
  z-index: 1;
  top: 50px;
  bottom: 50px;;
  left: 120px;
  right: 120px;
  transition: .5s;
}

.blur{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  bottom: 0px;;
  left: 0px;
  right: 0px;
  transition: .5s; 
}

.smallPicture:hover{
  box-shadow: 0px 0px 5px 5px #363b74;
  border: 3px #b39cc4 solid;
  border-radius: 7px;
}

.smallPicture{
  width: 280px;
  height: 160px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8);
  border: 3px #b39cc4 solid;
  border-radius: 7px;
}
.smallPicture img{
  width: 280px;
  height: 160px;
  margin-bottom: -4px;

}

.functionButtons{
  margin-top: -30px;
  margin-bottom: -29px;
  display: flex;

}

.functionButtons div button{
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 20px;
  color: #b39cc4;
  padding-left: 40px;
  text-decoration: none;
  border-radius: 0px;
  border: 0px;
  border-color: #b39cc4;
  outline: none;
  background-image: linear-gradient(45deg, rgba(157,107,157,.0) 10%, rgba(157,107,157,.5), rgba(157,107,157,.0) 90%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  position: relative;
  opacity: 0.65;
  width: 130px;
  border-radius: 20px;
}


.functionButtons div button:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8);
}


.showUsers{
  position:relative;
  z-index: 6;
}

.showUsers:hover{
  margin-left: -10px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8);
}

.usersRender{
  position:relative;
  z-index: 6;
  border: 3px #b39cc4 solid;
  border-radius: 7px;
  margin-top: -28px;
  width: 130px;
  background-color: #f0ebf3;
  opacity: 0.8;
  padding-left: 10px;
  transition: .5s;
}

.usersRender:hover{
  position: relative;
  z-index: 999;
}

